.mynavbar{
    background-color: #ffffff;
}

.main{
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-style: solid;
    border-color: rgb(36, 36, 163);
}

.presentation{
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-guide-1{
    line-height: 30px;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-stretch: normal;
}

.text-guide-2{
    line-height: 30px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-stretch: normal;
}

.textTips{
    padding-top: 25px;
    padding-bottom: 25px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.messages{
    padding-top: 25px;
    padding-bottom: 25px;
}

.guia{
    text-align: right;
}
.guiaImage{
    margin-left: 10px;
    width: 30%;
}

.upload{
    text-align: right;
}

.cardText{
    text-align: justify; 
}

.myAlert{
    margin-top: 10px;
    font-size: 13px;
}

.tipsCard{
    height: 298px; 
    width: 180px; 
    border-style: ridge;
}


.btn-circle-blue {
    background-color: #007bff;
    border: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 40px;
    border-radius: 50%;
}

.btn-circle-white {
    background-color: #868e96 ;
    border: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 5px;
    border-radius: 50%;
}